.no-cursor {
  cursor: none;
}
.bg-dot-grid {
  background-color: #7181c1ff;
  background-image: radial-gradient(circle, rgba(15, 23, 42, 0.1) 2px, transparent 0);
  background-size: 14px 14px;
  @media (width < 40rem) {
    background-image: radial-gradient(circle, rgba(15, 23, 42, 0.2) 1px, transparent 0);
    background-size: 18px 18px;
  }
  @media (prefers-color-scheme: dark) {
    background-image: radial-gradient(circle, rgba(4, 11, 26, 0.3) 1px, transparent 0);
  }
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #7181c1ff;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-style: oblique;
  font-weight: bold;
  background-color: #7181c1ff;
  width: fit-content;
}

p {
  font-style: oblique;
  background-color: #7181c1ff;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

a {
  font-style: oblique;
  font-weight: 600;
  background-color: #7181c1ff;
}
a:any-link {
  color: white;
}
